@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  margin-top: 15px;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 50vh;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}
@keyframes mymove {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);

  }
}
.hold {
  border: 5px solid #fafafa;
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #8ed7ed;
  animation: mymove 1s linear infinite;

}
.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
  height: 30px;
  font-size: 14px;
  border: 2px solid #63acc2;
  border-radius: 10px;
  margin-bottom: 10px;
}
button {
  background: transparent;
  border: 2px solid #63acc2;
  background: linear-gradient(90deg, #58df89 0%, #6cb4d8 100%);
  cursor: pointer;
  color: #fff;

  height: 30px;
  border-radius: 5px;

}